<!DOCTYPE html> 
<html>
  <body>
    <div>
      <h1 style="font-size:150%"><b>Click "ApptiTutor" to skip.</b></h1>
      <div class="" align="center" style="text-align: center;">
        <h1 style="color: #208AD6; text-shadow: 3px 2px 6px black; font-size:400%"><b>Tutorial</b></h1>
      </div>
      <div class="container target">
        <div class="row">
          <img src="/assets/tutorial/1.jpg" class="img-responsive" style="width:1000px; margin-top: 3%">
          <img src="/assets/tutorial/2.jpg" class="img-responsive" style="width:1000px; margin-top: 3%">
          <img src="/assets/tutorial/3.jpg" class="img-responsive" style="width:1000px; margin-top: 3%">
          <img src="/assets/tutorial/4.jpg" class="img-responsive" style="width:1000px; margin-top: 3%">
          <img src="/assets/tutorial/5.jpg" class="img-responsive" style="width:1000px; margin-top: 3%">
          <img src="/assets/tutorial/6.jpg" class="img-responsive" style="width:1000px; margin-top: 3%">
          <img src="/assets/tutorial/7.jpg" class="img-responsive" style="width:1000px; margin-top: 3%">
          <img src="/assets/tutorial/8.jpg" class="img-responsive" style="width:1000px; margin-top: 3%; margin-bottom: 3%">
        </div>
      </div>
    </div>
  </body>
</html>

